html {
  overflow-x: hidden;
  overflow-y: scroll;

  font-size: $font-size;
}

body {
  background-image: url(../img/patt.png);

  font-family: $font-header;
  font-size: $font-size;
}

.button-icon {
  background-color: $color-light;
}
