.header {
  border-bottom: 1px solid $color-light;
  &-menu {
    background-color: rgba($color-light, 0.8);
  }
  &-logo {
    margin-right: 16px;
    padding: 5px 0;
  }
  &-navbar {
    margin-right: -15px;
    margin-left: -15px;
    padding: 26px 16px;
    &__nav {
      margin-right: 2px !important;

      @include md-min {
        width: calc(100% - 300px);
        padding-right: 30px;
        padding-left: 70px;
      }
    }
    &__item {
      @include md-min {
        flex-grow: 1;

        text-align: center;

        border-left: 1px solid $color-dark;
      }
      &:last-of-type {
        @include md-min {
          border-right: 1px solid $color-dark;
        }
      }
      .active {
        color: rgba($color-active, 0.9);
      }
    }
    &__link {
      padding: 0.5rem 0 !important;

      color: $color-dark;

      font-size: 1.2rem;
      font-weight: 400;
      &:hover,
      &:focus {
        color: rgba($color-active, 0.7);
      }
    }
  }
  &-carousel {
    background-color: rgba(#000000, 0.3);
  }
  h5 {
    font-size: 1.8rem;
  }
}
