.header {
  background-color: rgba($color-light, 0.8);
  &-logo {
    padding-right: 45px;

    color: $color-dark !important;

    font-size: 2rem;
    span {
      font-weight: 300;
    }
  }
  &-navbar {
    &__item {
      a {
        padding: 6px 25px !important;

        color: $color-dark;

        font-weight: 300;
      }
    }
    &__link {
      border-left: 1px solid $color-dark;
    }
  }
}
