/* ul */
/* xl */
/* lg */
/* md */
/* sm */
/* xs */
/* xx */
.form-inline {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  height: 50px;
  border: 1px solid #2c71b6;
  border-radius: 0;
}

.form-inline .form-control {
  width: 10rem;
  margin-right: 4px;
  padding-left: 7px;
  border: none;
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-size: 1.2rem;
}

.input-group-append {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.input-group-append button {
  padding: 0;
  color: #ffffff;
  border: none;
  border-radius: 0;
  outline: 1px solid #2c71b6;
  background-color: #2c71b6;
}

.input-group-append button i {
  padding: 10px;
}

.input-group-append button:hover {
  color: #2c71b6;
  outline: 1px solid #2c71b6;
  background-color: #ffffff;
}

.btn-outline-secondary:not(:disabled):not(.disabled).active,
.btn-outline-secondary:not(:disabled):not(.disabled):active,
.show > .btn-outline-secondary.dropdown-toggle {
  border-color: #28a745;
  background-color: #28a745;
}

.btn-outline-secondary:not(:disabled):not(.disabled).active:focus,
.btn-outline-secondary:not(:disabled):not(.disabled):active:focus,
.show > .btn-outline-secondary.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.25rem rgba(40, 167, 69, 0.5);
          box-shadow: 0 0 0 0.25rem rgba(40, 167, 69, 0.5);
}

.btn-outline-secondary.focus,
.btn-outline-secondary:focus {
  -webkit-box-shadow: 0 0 0 0.25rem rgba(40, 167, 69, 0.5);
          box-shadow: 0 0 0 0.25rem rgba(40, 167, 69, 0.5);
}

.button-icon {
  width: 50px;
  height: 50px;
  margin-left: 1.875rem;
  border: none;
  border-radius: 0;
}

.button-icon:hover {
  background-color: #2c71b6;
}

.button-icon:hover i {
  color: #ffffff;
}

.button-icon i {
  color: #2c71b6;
  font-size: 1.5rem;
}

.dropdown-menu {
  margin-top: 1px;
  -webkit-transform: translateX(-1px);
      -ms-transform: translateX(-1px);
          transform: translateX(-1px);
  border: none;
  border-radius: 0;
}

.dropdown-item:hover {
  color: #2c71b6;
}

.navbar-expand-lg .navbar-toggler {
  border-color: rgba(0, 0, 0, 0.2);
}

.navbar-toggler-icon {
  background-image: url(../img/list.svg);
}

.header {
  border-bottom: 1px solid #ffffff;
}

.header-menu {
  background-color: rgba(255, 255, 255, 0.8);
}

.header-logo {
  margin-right: 16px;
  padding: 5px 0;
}

.header-navbar {
  margin-right: -15px;
  margin-left: -15px;
  padding: 26px 16px;
}

.header-navbar__nav {
  margin-right: 2px !important;
}

.header-navbar__item .active {
  color: rgba(0, 0, 0, 0.9);
}

.header-navbar__link {
  padding: 0.5rem 0 !important;
  color: #2c71b6;
  font-size: 1.2rem;
  font-weight: 400;
}

.header-navbar__link:hover, .header-navbar__link:focus {
  color: rgba(0, 0, 0, 0.7);
}

.header-carousel {
  background-color: rgba(0, 0, 0, 0.3);
}

.header h5 {
  font-size: 1.8rem;
}

html {
  overflow-x: hidden;
  overflow-y: scroll;
  font-size: 16px;
}

body {
  background-image: url(../img/patt.png);
  background-position: 10% top;
  font-size: 16px;
  line-height: 1.5;
}

.button-icon {
  background-color: #ffffff;
}

.aside-form {
  background-color: rgba(255, 255, 255, 0.25);
  border-right: 1px solid #ffffff;
  padding: 15px 30px;
}

.aside-form__title {
  color: #ffffff;
  font-weight: bold;
  font-size: 1.5rem;
  margin-top: 4px;
  margin-bottom: 22px;
}

.aside-form__block:not(:nth-of-type(3)) {
  margin-bottom: 30px;
}

.aside-form__check {
  color: #ffffff;
  margin-top: 10px;
  font-size: 1.25rem;
}

.aside-form__check input {
  position: relative;
  width: 0;
  height: 0;
  margin-right: 22.5px;
}

.aside-form__check input:checked::before {
  background-color: #ffffff;
}

.aside-form__check input::before {
  bottom: 0;
  position: absolute;
  border: 1px solid #ffffff;
  width: 0.8rem;
  height: 0.8rem;
  content: "";
}

.aside-form__show {
  margin-top: 26px;
}

.aside-form--link {
  color: #ffffff;
  font-size: 1.25rem;
}

.aside-form--btn {
  margin-top: 14px;
  border: 1px solid #ffffff;
  background-color: #2c71b6;
  border-radius: 0;
  width: 100%;
}

@media (min-width: 992px) {
  .form-inline {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    width: 218px;
  }
  .dropdown-menu {
    background-color: #2c71b6;
  }
  .dropdown-item {
    color: #ffffff;
  }
  .dropdown-toggle[aria-expanded="true"] {
    color: #ffffff !important;
  }
  .show {
    background-color: #2c71b6 !important;
  }
  .header-navbar__nav {
    width: calc(100% - 300px);
    padding-right: 30px;
    padding-left: 70px;
  }
  .header-navbar__item {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    text-align: center;
    border-left: 1px solid #2c71b6;
  }
  .header-navbar__item:last-of-type {
    border-right: 1px solid #2c71b6;
  }
}

@media (max-width: 991.8px) {
  .form-inline {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: calc(100% - 100px);
  }
  .form-inline .form-control {
    -webkit-box-flex: 2;
        -ms-flex-positive: 2;
            flex-grow: 2;
    padding-left: 12px;
  }
  .input-group-append {
    margin: 0 6px;
  }
  .button-icon {
    margin-bottom: 12px;
  }
}
